.header{
    display: flex;
    align-items: center;
    background-color: #f8dda4;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 60px;
    color: aliceblue;
}

.header .title-group{
    padding-left: 25px;
    color: #283618;
}

.header .title-group i {
    padding-right: 5px;
    color: aliceblue;
}

