/*.sidenav{
    background-color: #f9a03f;
    width: 200px;
}*/

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #283618;
}

.sidebar-wrapper {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #fe9920;
    color: white;
    position: fixed;
    left: -180px; /* esconde quase tudo, mas deixa 20px visíveis */
    transition: left 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar:hover {
    left: 0; /* aparece ao passar o mouse */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 20px;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .content {
    margin-left: 20px; /* margem para o espaço ocupado pelos 20px visíveis */
    padding: 20px;
    flex-grow: 1;
  }
 
.sidenav a:hover {
    background-color: #202020; /* Cor mais escura ao passar o mouse */
}

.sidenav a{
    display: flex; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    gap: 8px; /* Espaço do ícone e do texto */
    margin: 10px 0; 
    padding: 10px; 
    width: 90%; /* quando passa o mouse em cima, aparece uma barra mais escura */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    border-radius: 4px; /* arredonda os cantos */
    transition: background-color 0.5s; /* Transição suave ao passar o mouse*/
}

.sidenav{
    background-color: #000000a2;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    height: 100vh;
  }


