<div class="container">
  <div class="home">
    <h1>Gerenciamento</h1>
    <p>Tenha total controle sobre sua loja!</p>
    <div class="apresentacao">
    </div>

    <div class="estoque-card">
      <div class="estoque-info">
        <h2 style="text-align: center;">Total de Produtos</h2>
        <div class="estoque-numero">{{ totalProdutos }}</div>
      </div>
    </div>

    <div class="reestoque-card" *ngIf="produtosBaixoEstoque.length > 0">
      <div class="reestoque-info">
        <h2>Produtos com Baixo Estoque</h2>
        <div *ngFor="let produto of produtosBaixoEstoque" class="reestoque-item">
          <div class="reestoque-info-row">
            <span class="nome-produto">{{ produto.prodNome }}</span>
            <span class="qtd">{{ produto.prodQtdEstoque }}</span>
          </div>
          <div class="barra-container">
            <div
              class="barra"
              [style.width.%]="produto.percentualEstoque"
              [style.background]="produto.prodQtdEstoque <= 2 ? '#ff0000' : '#ff8800'">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tabela-produtos">
      <mat-card>
        <h2 style="margin-bottom: 15px;">Todos os Produtos</h2>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Categoria</th>
              <th>Preço de Venda</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtos">
              <td>{{ produto.prodNome }}</td>
              <td>{{ produto.prodQtdEstoque }}</td>
              <td>{{ produto.prodCategoria }}</td>
              <td>R$ {{ produto.prodPrecoVenda | number: '1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
</div>
