.home .title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: white;
}
.home {
    background-color: #292827;
    margin-top: 70px;
    box-shadow: 
        inset -2px -2px 5px rgba(255, 255, 255, 0.1),
        inset 2px 2px 5px rgba(0, 0, 0, 0.4),
        4px 0 10px rgba(0, 0, 0, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.home .subtitle{
    font-size: 1.1rem;
    color: white;
}
.apresentacao{
    padding-left: 35px;
    padding-right: 35px;
}

.estoque-card {
    position: absolute;
    top: 290px;
    left: 100px;
}

.estoque-info {
    background: linear-gradient(145deg, #1e1e1e, #292929);
    color: #fe9920; 
    border: 2px solid #fe9920;
    text-align: center;
    width: 300px;
    padding: 50px;
    box-shadow: 0px 0px 20px rgba(73, 73, 73, 0.993);
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
}

.estoque-info:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgb(255, 136, 0);
}

.estoque-numero {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
}

/* ======== CARD DE REESTOQUE ======== */
.reestoque-card {
    position: absolute;
    top: 290px;
    left: 600px;
}

.reestoque-info {
    background: linear-gradient(145deg, #1e1e1e, #292929);
    color: #ff8800;
    border: 2px solid #ff8800;
    width: 350px;
    padding: 47px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(73, 73, 73, 0.993);
}

.reestoque-item {
    margin-bottom: 15px;
}

.reestoque-info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.barra-container {
    background: #333;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.barra {
    height: 100%;
    transition: width 0.5s;
}

.nome-produto {
    font-weight: bold;
}

.qtd {
    color: #ff7043;
}
