table{
    background-color: #3f3b3b62;
    width: 100%;
}

.edit > i{
    color: #f8dda4;
}

.delete > i{
    color: #e35e6b;
}
table th {
    color: #ffffff; /*texto do titulo branco */
  }

table td {
    color: #fe9920; /* muda a cor para um azul, por exemplo */
  }