<div class="card-container"> 
<mat-card class="fundo-personalizado">
    <mat-card-title>Novo Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="cliente.cliNome" name="cliNome" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF" [value]="cpfFormatado" [(ngModel)]="cliente.cliCpf" name="cliCpf" (input)="onCpfInput($event)" required maxlength="14">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email"   [(ngModel)]="cliente.cliEmail"  name="cliEmail" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [value]="telefoneFormatado" [(ngModel)]="cliente.cliTelefone" (input)="onTelefoneInput($event)" name="cliTelefone" required maxlength="15">
        </mat-form-field>
    </form>

     <mat-card-title>Endereço</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Rua" [(ngModel)]="cliente.cliEndRua" name="cliEndRua">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade" [(ngModel)]="cliente.cliEndCidade" name="cliEndCidade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Número" [(ngModel)]="cliente.cliEndNum" name="cliEndNum">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Estado" [(ngModel)]="cliente.cliEndEstado" name="cliEndEstado">
        </mat-form-field>
    </form>

    <button mat-raised-button class="btn-laranja" (click)="createCliente()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>
</div>
