.card-container{
 display: flex;
 justify-content: center;
 margin-top: 100px
}

mat-card{
  width: 100%;
  max-width: 1300px;
  height: 600px;
  padding: 24px;
}

.fundo-personalizado {
    background-color: #ffffff 

}

form{
    display: flex;
    flex-direction: column;
}

button{
    margin: 20px 15px 0px 0px;

}

.btn-laranja {
  background-color: 0 6px 16px rgba(0, 0, 0, 0.15);
  color: white; /* para garantir que o texto fique legível */
}

.btn-laranja:hover {
  transform: translateY(-2px);
  background-color: 0 3px 8px rgba(0, 0, 0, 0.30); /* opcional: cor no hover */
}